* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* header styling */

.header {
  background-image: url("./IMG/delani-images/delani-backgrounds/h_img.jpg");
  background-size: 100% 100%;
  height: 90vh;
}

.header-contents {
  text-align: center;
  color: white;
  margin-top: 10%;
}
#welcome {
  font-size: 40px;
}
#amazing {
  font-size: 25px;
}
#mouse-click {
  margin-top: 5%;
}

/* About us */

.about-us {
  text-align: center;
}
.about-us h3 {
  margin-top: 5%;
}

/* services brief description */

.services {
  background-image: url("./IMG/delani-images/delani-backgrounds/s_image.jpg");
  height: 50vh;
  background-size: 100% 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}
.services h3 {
  margin-top: 5%;
}

/* what we do */

.what-we-do {
  text-align: center;
}
.what-we-do h3 {
  margin-top: 2%;
}
.what-we-do p {
  font-size: small;
  display: none;
}

.white {
  border: solid 2px yellow;
  background-color: white;
}

.our-services {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5%;
}

/* portfolio section styling */

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8 {
  width: 35vh;
  height: 30vh;
  background-size: 100% 100%;
  position: relative;
  overflow: auto;
}
.img1 {
  background-image: url("./IMG/delani-images/delani-portfolio/work4.jpg");
}
.img2 {
  background-image: url("./IMG/delani-images/delani-portfolio/work3.jpg");
}
.img3 {
  background-image: url("./IMG/delani-images/delani-portfolio/work2.jpg");
}
.img4 {
  background-image: url("./IMG/delani-images/delani-portfolio/work1.jpg");
}
.img5 {
  background-image: url("./IMG/delani-images/delani-portfolio/work5.jpg");
}
.img6 {
  background-image: url("./IMG/delani-images/delani-portfolio/work6.jpg");
}
.img7 {
  background-image: url("./IMG/delani-images/delani-portfolio/work7.jpg");
}
.img8 {
  background-image: url("./IMG/delani-images/delani-portfolio/work8.jpg");
}
.overlay {
  position: absolute;  
  color: black;
  height: 100%;
  width: 100%;
  background-color: rgb(249, 255, 255);
  opacity: 0.6;
  display: none;
}
.overlay p {
  margin-top: 40%;
  font-weight: bolder;
  font-size: large;
}

.portfolio img {
  width: 20%;
}
.portfolio1,
.portfolio2 {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 8%;
}

.portfolio {
  text-align: center;
  margin-top: 20px;
}
.portfolio2 {
  margin-top: 1%;
}

/* contact us styling */

.contact {
  background-image: url("./IMG/delani-images/delani-backgrounds/c_image.jpg");
  background-size: 100% 100%;
  height: 75vh;
  margin-top: 5%;
  color: white;
  text-align: center;
}
.contact h3 {
  margin-top: 5%;
}

.contact1 {
  display: flex;
  justify-content: space-around;
}
.contact1 .form-control {
  width: 400px;
}
.contact2 {
  text-align: center;
}
.contact2 .form-control {
  height: 40vh;
  width: 70%;
  margin-left: 17%;
}
.form-control {
  background-color: transparent;
}

/* footer styling */

footer {
  margin-top: 3%;
  text-align: center;
}
.socials {
  width: 80%;
  margin-left: 10%;
}
.socials img {
  padding: 15px;
}

/* media queries */

@media  only screen and (max-width:750px){
  .our-services {
    flex-direction: column;
  }

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8 {
  width: 20vw;
  height: 10vh;
  
}
.overlay p {
  margin-top: 0;
}
.header {
  height: 60vh;
}
.contact {
  height: 45vh;
}
.contact2 .form-control {
  height: 25vh;
}
}